.bg {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../../../assets/background1.png') no-repeat;
  background-color: #f4f6f8;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 0px;
  height: 100%;
  width: 100%;
}
